/* CSS variables */
:root {
    --primary-color: #588a5b;
    --secondary-color: #b22222;
    --background-color: #FAF9F6; 
    --text-color: #212121;
    --highlight-color: #fff6d7;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --font-family: 'baskerville', Arial, sans-serif;
    --max-width: 1200px;
}

/* general styling */
html, body {
    overflow-x: hidden; /* prevent horizontal scrolling */
    overflow-y: auto; /* allow vertical scrolling */
}

body, a, input, textarea, button {
    cursor: none !important;
}

.indeximg {
    display: block;
    max-width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;

}

body {
    margin: 0;
    font-family: "baskerville";
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

@font-face {
    font-family: "handwritten!";
    src: url('/fonts/vertopal.com_Handwritten!.ttf');
}


header {
    background: var(--highlight-color);
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: var(--box-shadow);
}

header li {
    font-family: "handwritten!";
    letter-spacing: -6px;
    word-spacing: 13px;
}

h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "handwritten!";
    letter-spacing: 6mm;
    padding: 5px;
}

h3 {
    font-family: "handwritten!";
    word-spacing: 16px;
    letter-spacing: -3.55px;
    font-size: 16px;
}

.title:hover {
    transform: scale(1.5);
}


.title {
    display: inline-block;
    color: var(--primary-color);
    transition: transform 0.6s ease-out;
    --random-rotate: 0deg;
}


nav ul {
    list-style: none;
    padding: .75em;
    display: flex;
    gap: 0px;
    justify-content: center;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
}


nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25em;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 1.5em;
}


nav a {
    box-shadow: inset 0 0 0 0 var(--highlight-color);
    color: var(--secondary-color);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .2s ease-in-out, box-shadow .75s ease-in-out;
  }


nav a:hover {
    color:var(--primary-color);
  
}


main {
    flex: 1;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


main h2 {
    font-size: 24px;
    margin-top: 3;
    margin-bottom: 1.5em;
    line-height: .5em;
    font-family: "handwritten!";
    letter-spacing: -6.25px;
    word-spacing: 20px;
}

main p {
    font-size: 18px;
    line-height: 1.8;
}

/* links */
a {
    color: var(--secondary-color); 
    text-decoration: none; 
    transition: color 0.3s, text-decoration 0.3s; 
}

a:hover {
    color: var(--primary-color); 
}

a:active {
    color: darken(var(--primary-color)80%); 
}

/* footer styling */
footer {
    background: var(--highlight-color);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: var(--box-shadow);
    margin-top: auto;
}

.footer-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links img {
    margin-left: 1.5mm;
    margin-right: 1.5mm
}

.social-links a img {
    width: 24px;
    height: 24px;
    transition: opacity var(--transition-duration);
}


.footer-bottom p {
    font-family: "handwritten!", "baskerville";
    font-size: small;
    margin: 10px 0 0;
    color: #666;
    letter-spacing: -.32em;
    word-spacing: 1em
}

.editornote {
border-bottom: solid var(--highlight-color);
border-width: 3px;
padding-bottom: 20px;
}

/* cursor styling */

#cursor {
    position: fixed;
    background-color: var(--secondary-color); /* Keep the main cursor filled with red */
    pointer-events: none;
    border-radius: 50%;
    transition: width 0.1s linear, height 0.1s linear;
    z-index: 9999;
}

.cursor-trail {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998; /* Below the main cursor */
    background-color: var(--secondary-color); /* Match the main cursor color */
    transition: width 0.5s ease, height 0.5s ease;
}


/* directory */
.directory {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.directory h1 {
    text-align: center;
    font-size: 2.5em;
    color: var(--text-color);

}

.recipe-list {
    list-style: none;
    margin: 0;      /* remove any browser margins */
    padding: 0;     /* kill default UL padding-left */
  }

.recipe-list a {
    text-decoration: none;
    margin: 0;
}

.recipe-list img {
    margin-right: 10px;
}

.recipe {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.recipe:hover {
    background-color: #f0f0f0;
}

.recipe img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.recipe-info {
    flex: 1;
}

.recipe-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
}

.recipe-info p {
    margin: 5px 0;
    color: #555;
}

/* submission form */
.container {
    background: linear-gradient(135deg, #ffffff, #f0f0f0);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    overflow: hidden;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-size: 18pt;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: left;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: 18px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'baskerville', Arial, sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(227, 49, 43, 0.4);
    outline: none;
    background: rgba(255, 255, 255, 1);
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--highlight-color);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: none;
    font-family: 'baskerville', Arial, sans-serif;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    outline: none;
}

button[type="submit"]:hover {
    background-color: var(--secondary-color);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* scrolling text */
#scroll-container {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 1px;
    overflow: visible;
    margin-bottom: -1em;
    white-space: nowrap;
}


#scroll-text {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
}

#scroll-text h1 {
    letter-spacing: .01em;
    word-spacing: .5em;
}


/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
  
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
  
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

/*Slideshow*/


.mySlides {
    align-content: center;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    align-content: center;
}

.slideshow {
    padding-top: 15px;
    padding-bottom: 15px;
}



/* recipes and stories */

.videoframe video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.recipe-container {
    max-width: 90%;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
    position: relative;
}

.recipe-container .article-content {
    flex: 2;
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
    position: relative;
    border-right: solid var(--highlight-color);
    border-width: 3px;
}

.article-content {
    margin-top: -15px;
    padding-top: 0;
}

.recipe-container .recipe-details {
    flex: 1;
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
    margin-left: -.5em;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
}

.article-content {
    flex: 2;
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
    position: relative;
    border-right: solid var(--highlight-color);
    border-width: 3px;
    align-content: left;
    max-width: 80%;
    padding: 25px;
}


.recipe-content {
    flex: 1;
    text-align: center;
    border-width: 3px;
    border-left: var(--text-color);
}

figcaption {
    font-style: italic;
    font-size: 0.9em;
    color: #555;
    margin-top: 2px;
    text-align: center;
}

figure img{
    align-content: center;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    padding-top: .35em;
}


.thanks p{
    text-align: center;
    font-weight: 600;

}


.recipe-details h3 {
    font-size: 18px;
    margin-left: -5px;
    margin-bottom: -10px;
}

.recipe-details ul, .recipe-details ol {
    padding-left: 0px;
    list-style-type: none;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 10px;
}

.recipe-details p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.8;
    font-style: "baskerville";
}

.article-content h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
    margin-top: 0;
    padding-top: -5px;
    
}



    .article h2 {
        font-size: 20px; 
        letter-spacing: -4px; 
        line-height: 1.20em;
        word-spacing: 18px; 
        text-align: center; 
        margin: 15px 0; 
        word-wrap: break-word; 
        font-family: "handwritten!";
    }


.resources a{
    margin-left: -15px;
}

.resources li{
    margin-top: 18px;
    line-height: 21px;
}

.interviewcontent {
    max-width: 50%;
}

.interviewcontent figure {
    max-width: 100%;
    width: 100%;
    height: auto; 
    display: block;
    margin: 1em 0;
}

.interviewcontent p {
    text-align: left;
}

.interviewcontent a {
    padding: 0;
    margin: 0;
}

.interviewcontent h3 {
    font-family: "baskerville";
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 21px;
    word-spacing: 2px;
    text-align: left;
}

.interviewcontent h2 {
    font-size: 24px; 
    letter-spacing: -6.5px; 
    line-height: 1.20em;
    word-spacing: 18px; 
    text-align: left; 
    margin: 15px 0; 
    word-wrap: break-word; 
    font-family: "handwritten!";
    }


    .article-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
    }
    
    .date-published {
        margin-left: 18px; /* Gives some space between buttons and date */
        font-size: 0.9em;
        font-family: "handwritten!", "baskerville";
        margin: 10px 0 0;
        color: #666;
        letter-spacing: -.32em;
        word-spacing: 1em
    }

    .share-links {
        display: flex;
        justify-content: flex-start;
        width: auto;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    
    .share-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    
    .share-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .share-btn img {
        width: 24px;
        height: 24px;
    }

/* Improve Small Desktop Responsiveness */
@media (max-width: 1000px) {
    aside.recipe-details {
        text-align: auto;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 80% !important;
        max-width: 80% !important;
        display: block !important;
        float: none !important;
    }

    .indeximg {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    
    }

    .thanks {
        margin-top: -45px;
    }

    body {
        font-size: 16px; 
        padding-top: 10px;
        overflow-x: hidden; 
    }


    main#content {
        box-sizing: border-box;
      }
      
      img.video {
        display: block;
      }


    header {
        background-color: var(--highlight-color);
        width: 100%;
        max-width: 100%; 
        padding-top: 10x;
        padding-left: 0;
        margin-top: -10px;
    }

    h1 {
        margin-top: auto;
        font-size: 30px; 
        letter-spacing: 1mm;
        word-wrap: break-word;
        font-family: "handwritten!";
    }

    .recipe-list li {
        margin:0 0 0 0;
    }


    .recipe-info h2 {
        font-size: 20px;
        margin-bottom: 5px;
        line-height: 1.2;
        word-spacing: 8px;
    }

    .recipe-info p {
        margin: 5px 0;
        color: var(--text-color);
        font-size: 16px;
        line-height: 1.0;
    }


    main h2 {
        font-size: 20px; 
        letter-spacing: -.01em; 
        line-height: 1.20em; 
        text-align: center; 
        margin: 15px 0; 
        word-wrap: break-word; 
        font-family: "handwritten!";
    }


    .article h2 {
        font-size: 20px; 
        letter-spacing: -4px; 
        line-height: 1.20em;
        word-spacing: 18px; 
        text-align: center; 
        word-wrap: break-word; 
        font-family: "handwritten!";
    }

    .recipe-container {
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        padding: 20px 10px;
    }

    .recipe-image {
        order: -1;
    }
    
    .recipe-content, .article-content, .recipe-details {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
    }
    
    aside.recipe-details {
        align-content: center;
    }
    
    .recipe-image img {
        max-width: 100%;
        height: auto;
    }

    /* Remove right border when stacked */
    .article-content,
    .recipe-container .article-content {
        border-right: none;
    }

    .article-content {
        margin-top: 15px;
    }

    
    .interviewcontent {
        max-width: 95%;
        margin: 0 auto;
    }

    .article-meta {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }


    .interviewcontent{
        margin-top: 15px;
    }
    .interviewcontent h2 {
        font-size: 20px; 
        letter-spacing: -5px; 
        line-height: 1.20em;
        word-spacing: 18px; 
        text-align: center; 
        margin: 15px 0; 
        word-wrap: break-word; 
        font-family: "handwritten!";
    }

    .interviewcontent .article-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
    }

    nav ul {
        flex-direction: column; /* stack menu items vertically */
        gap: 16px;
    }

    nav ul li {
        text-align: center;
        width: 100%;
    }

    main {
        background-color: transparent;
        width: 100%;
        max-width: 100%; 
    }


    .video-container img {
        padding: 0;
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    }

    footer {
        padding: 10px;
        background-color: var(--highlight-color);
        width: 100%;
        max-width: 100%; 
        margin: auto; 
    }

    .social-links img {
        width: 32px; 
        height: 32px;
    }

    .recipe-container img {
        max-width: 100%;

    }

    .recipe-container figure {
        width:fit-content;
        align-content: center;
        padding: 0 0 0 0;
        margin: 0 0 0 0;

    }



    .recipe-image {
        order: -1;
    }
    .recipe-content, .article-content, .recipe-details {
        flex: 1;
        width: 100%;
        padding: 0 10px;
    }
    .recipe-image img {
        max-width: 100%;
        height: auto;

    }

    .interviewcontent {
        max-width: 80%;
    }
    

}


    /* improve touch targets */
    button[type="submit"], a {
        padding: 15px;
        font-size: 18px;
    }

    /* ensure custom cursor doesn't interfere with touch screens */
 
    .container {
        margin: auto;
        padding: 10px 10px 10px 10px;
    }

    a {
        margin-left: -10px;
        margin-right: -10px;

    }




    #content {
        transition: none
    }

    .blur {
        filter: blur(10px);
    }

    blockquote.pull-quote {
        font-family: "handwritten!";
        font-size: 24px;
        line-height: 1.2em;
        word-spacing: 18px;
        letter-spacing: -6.75px;
        color: var(--primary-color);
        padding: 25px 30px;
        margin: 35px 0;
        max-width: 95%;
        border-radius: 5px;
        position: relative;
        word-wrap: break-word; 
        }

    
    
    blockquote.pull-quote p {
        margin: 0;
        text-align: center;
    }
    
    blockquote.pull-quote::before,
    blockquote.pull-quote::after {
        content: '"';
        font-family: "handwritten!";
        font-size: 55px;
        position: absolute;
        color: var(--primary-color);
        opacity: 0.7;
    }
    
    blockquote.pull-quote::before {
        left: -10px;
        top: 20px;
    }
    
    blockquote.pull-quote::after {
        right: -10px;
        bottom: 10px;
    }



/* Mobile Improvements */
    @media (max-width: 768px){

        blockquote.pull-quote {
            font-size: 18px;
            padding: 20px 25px;
            margin: 25px 0;
        }

        .recipe {
            display: inline-block;}
        
        blockquote.pull-quote::before,
        blockquote.pull-quote::after {
            font-size: 34px;
        }

        .recipe-container figure {
            width: 100%;
            margin: 0 0 0 0;
        }

        body {
            font-size: 16px; 
            padding-top: 10px;
            overflow-x: hidden; 
        }
        
        /* Fix for right gap - make content use more available width */
        .recipe-content, .article-content, .recipe-details {
            max-width: 75%;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        
        main {
            padding: 10px;
        }
        
        .container, .recipe-container {
            width: 100%;
            max-width: 100%;
            padding: 0px;
            margin: 0 0 0 0
        }
    
        .share-links {
            justify-content: center; /* Center on mobile */
        }
        
        .share-buttons {
            flex-wrap: wrap; /* Allow wrapping on small screens */
            justify-content: center;
        }
        .search-container {
            max-width: 90%;
        }
        
        #search-input {
            padding: 10px 40px 10px 12px;
            font-size: 14px;
        }
        
        .search-results-container {
            padding: 0 15px;
        }
        
        .search-result-item {
            padding: 15px;
        }

        main#content {
            box-sizing: border-box;
          }
          
        img.video {
            display: block;
          }
    
    
        header {
            background-color: var(--highlight-color);
            width: 100%;
            max-width: 100%; 
            padding-top: 10x;
            padding-left: 0;
            margin-top: -10px;
        }
    
        h1 {
            margin-top: auto;
            font-size: 30px; 
            letter-spacing: 1mm;
            word-wrap: break-word;
            font-family: "handwritten!";
        }
    
        .recipe-info h2 {
            font-size: 16px;
            margin-bottom: 5px;
            line-height: 1.2;
            word-spacing: 8px;
        }
    
        .recipe-info p {
            margin: 5px 0;
            color: var(--text-color);
            font-size: 14px;
            line-height: 1.0;
        }
        .recipe-list li {
            margin-top: 0px;
            margin-left: -30px;
        }

        .recipe-list {
            text-align: center;
          }

        .recipe-list img {
            margin-right: 0
        }

        main h2 {
            font-size: 20px; 
            letter-spacing: -.01em; 
            line-height: 1.20em; 
            text-align: center; 
            margin: 15px 0; 
            word-wrap: break-word; 
            font-family: "handwritten!";
        }

    
        .article-content {
            border-right: none;}

        .article-meta {
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
        }

        .article h2 {
            font-size: 20px; 
            letter-spacing: -4px; 
            line-height: 1.20em;
            word-spacing: 18px; 
            text-align: center; 
            margin: 15px 0; 
            word-wrap: break-word; 
            font-family: "handwritten!";
        }
    
        nav ul {
            flex-direction: column; /* stack menu items vertically */
            gap: 16px;
        }
    
        nav ul li {
            text-align: center;
            width: 100%;
        }
    
        main {
            background-color: transparent;
            width: 100%;
            max-width: 100%; 
        }
    
    
        .video-container img {
            padding: 0;
            display: block;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
        }
    
        footer {
            padding: 10px;
            background-color: var(--highlight-color);
            width: 100%;
            max-width: 100%; 
            margin: auto; 
        }
    
        .social-links img {
            width: 32px; 
            height: 32px;
        }
    

        .recipe-image {
            order: -1;
        }
        .recipe-content, .article-content, .recipe-details {
            max-width: 75%;
        }
        .recipe-image img {
            max-width: 100%;
            height: auto;
        }
        
        /* Remove right border when stacked */
        .recipe-container {
            border-right: none;
            margin: 0 0 0 0;
        }

        .article-meta {
            flex-direction: column;
            gap: 15px;
            align-items: flex-start;
        }

        .article h2 {
            font-size: 20px; 
            letter-spacing: -4px; 
            line-height: 1.20em;
            word-spacing: 18px; 
            text-align: center; 
            margin: 15px 0; 
            word-wrap: break-word; 
            font-family: "handwritten!";
        }
    
        .recipe {    
            display:inline-block;
            align-items: center;
            border-radius: 20px;
            margin-bottom: 10px;
            transition: background-color 0.3s;
            margin: 5px;
        }
    
        /* improve touch targets */
        button[type="submit"], a {
            padding: 15px;
            font-size: 18px;
        }
    
        /* ensure custom cursor doesn't interfere with touch screens */
     
        .container {
            margin: auto;
            padding: 10px 10px 10px 10px;
        }
    
        a {
            margin-left: -10px;
            margin-right: -10px;
        }
    
        #content {
            transition: none
        }
    
        .blur {
            filter: blur(10px);
        }
    

    .recipe {    
        display:inline-block;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 10px;
        transition: background-color 0.3s;
    }

    .recipe-container img {
        display: flexbox;
        align-content: center;
        max-width: 125%;
        margin-left: -13%;
    }


}




/* SVG Icon Color Styling */
.share-btn img,
.social-links img {
    /* Green color filter matching #588a5b */
    filter: invert(42%) sepia(45%) saturate(445%) hue-rotate(91deg) brightness(88%) contrast(86%);
    transition: filter 0.3s ease;
}

.share-btn:hover img,
.social-links a:hover img {
    /* Red color filter matching #B22222 */
    filter: invert(13%) sepia(83%) saturate(3739%) hue-rotate(354deg) brightness(96%) contrast(84%);
}
