<!-- header.html -->
<h1>
    <span class="title">O</span>
    <span class="title">P</span>
    <span class="title">P</span>
    <span class="title">O</span>
    <span class="title">S</span>
    <span class="title">I</span>
    <span class="title">T</span>
    <span class="title">I</span>
    <span class="title">O</span>
    <span class="title">N</span>
  </h1>
  <h1>
    <span class="title">K</span>
    <span class="title">I</span>
    <span class="title">T</span>
    <span class="title">C</span>
    <span class="title">H</span>
    <span class="title">E</span>
    <span class="title">N</span>
  </h1>

<nav>
    <ul>
        <li id="rotating-word"><a href="index.html">Home</a></li>
        <li id="rotating-word"><a href="recipes.html">Get Cooking</a></li>
        <li id="rotating-word"><a href="tabletalk.html">Table Talk</a></li>
       <!-- <li id="rotating-word"><a href="submissions.html">Submit a Recipe</a></li> -->
    </ul>
</nav>
