<div class="share-links">
    <div class="share-buttons">
        <button class="share-btn" data-platform="facebook">
            <img src="images/svg/fb.svg" alt="Share on Facebook">
        </button>
        <button class="share-btn" data-platform="twitter">
            <img src="images/svg/twitter.svg" alt="Share on Twitter">
        </button>
        <button class="share-btn" data-platform="email">
            <img src="images/svg/email.svg" alt="Share via Email">
        </button>
        <span class="date-published">Published: <time datetime="{{article-date}}">{{article-date-formatted}}</time></span>
    </div>
</div>